header .navbar {
  background-color: #DBE6CF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center; }
  header .navbar .logo {
    width: 60px;
    height: 60px;
    opacity: .5;
    grid-column: 1 / 2;
    margin-left: 40px; }
  header .navbar #h1-navbar {
    font-size: 3rem;
    grid-column: 4 / 8;
    display: block; }
  header .navbar .menu {
    grid-column: 2 / 6;
    display: flex;
    justify-content: space-around;
    font-size: .9rem;
    color: #636060;
    cursor: pointer; }
    header .navbar .menu li {
      list-style: none;
      position: relative; }
      header .navbar .menu li a {
        text-decoration: none;
        color: #636060;
        display: inline-block; }
        header .navbar .menu li a:hover {
          font-weight: bold;
          color: #A99EE4; }
  header .navbar .login {
    background-color: #DBE6CF;
    list-style: none;
    text-align: right;
    font-size: .8rem;
    grid-column: 6 / 9;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    header .navbar .login li {
      display: inline-block;
      text-align: right;
      position: relative;
      padding: 10px; }
      header .navbar .login li a {
        text-decoration: none;
        color: #636060;
        display: inline-block;
        padding: 10px; }
        header .navbar .login li a:hover {
          font-weight: bold;
          color: grey; }
  header .navbar .menu-bar {
    display: block;
    grid-row: 3;
    grid-column: 7 / 8;
    cursor: pointer;
    color: #636060;
    align-items: right;
    font-size: 1.4rem;
    display: none; }
  header .navbar .shopping {
    display: block;
    grid-row: 3;
    grid-column: 8 / 9;
    cursor: pointer;
    color: #636060;
    align-items: right;
    font-size: 1.4rem; }

form .form {
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
  margin: auto;
  width: 90%;
  box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.245);
  max-width: 400px;
  padding: 3rem 3rem;
  border-radius: 10px;
  text-align: left;
  line-height: 25px; }

form .form_title {
  font-size: 1.5rem;
  margin-bottom: .5em; }

form .form_paragraph {
  font-weight: 400;
  color: #636060; }

form .form_link {
  font-weight: 400; }

form .form_container {
  margin-top: 1em;
  display: grid;
  gap: 1.5em;
  color: #636060; }

form .form_group {
  position: relative; }

form .form_label {
  color: #636060; }

form button {
  color: #636060; }

footer {
  font-family: 'Maven Pro', sans-serif;
  align-items: center;
  background-color: #DBE6CF;
  color: #636060;
  display: grid;
  grid-template-areas: "contact social-network"; }
  footer .contact {
    grid-template-areas: contact;
    display: flex;
    justify-content: center;
    padding: 20px; }
    footer .contact .fa-regular {
      font-size: 1.2rem;
      margin-right: 15px; }
    footer .contact .h3-footer1 {
      font-family: 'Maven Pro', sans-serif;
      align-items: center;
      font-size: 1rem;
      cursor: pointer; }
  footer .social-network {
    grid-template-areas: social-network;
    display: flex;
    justify-content: center;
    padding: 20px; }
    footer .social-network .fa-brands {
      font-size: 1.2rem;
      margin-right: 15px; }
    footer .social-network .h3-footer2 {
      font-family: 'Maven Pro', sans-serif;
      align-items: center;
      font-size: 1rem;
      cursor: pointer; }

/* Media Queries*/
@media only screen and (max-width: 1024px) {
  /*Navbar section*/
  header .navbar {
    position: relative; }
    header .navbar .logo {
      width: 30px;
      height: 30px;
      grid-column: 2 / 3; }
    header .navbar .menu-bar {
      display: none; }
    header .navbar .menu {
      font-size: .7rem;
      justify-content: space-between;
      grid-column: 3 / 7; }
    header .navbar #h1-navbar {
      font-size: 2rem; }
    header .navbar .shopping {
      grid-column: 8 / 9;
      font-size: 1rem;
      color: #636060; }
  /*Main section*/
  main .bienvenida {
    position: relative; }
    main .bienvenida .info_content {
      grid-column: 4 / 10;
      grid-row: 4 / 8; }
    main .bienvenida .h1-index {
      font-size: 1.5rem; }
    main .bienvenida .h3-index {
      font-size: 1.2rem; }
    main .bienvenida .p-index {
      font-size: 2rem; }
    main .bienvenida .btn {
      font-size: .8rem;
      padding: 6px 10px;
      border: .6px solid #A99EE4;
      border-radius: 30px;
      margin-top: 10px; }
  /*Footer section*/
  footer .footer {
    padding-bottom: 20px;
    font-size: .8rem; }
    footer .footer .contact {
      font-size: 1.2rem;
      align-items: auto; }
    footer .footer .social_network {
      font-size: 1.2rem;
      align-items: auto; } }

/*tablets*/
@media only screen and (max-width: 768px) {
  /*Navbar section*/
  header .navbar {
    position: relative; }
    header .navbar .logo {
      width: 30px;
      height: 30px;
      grid-column: 1 / 2; }
    header .navbar .shopping {
      display: none; }
    header .navbar .menu-bar {
      display: block;
      grid-column: 8 / 9;
      color: #636060;
      font-size: .8rem; }
    header .navbar .menu {
      font-size: .6rem;
      justify-content: space-between;
      grid-column: 2 / 7; }
    header .navbar .login {
      font-size: .5rem; }
    header .navbar #h1-navbar {
      font-size: 1.5rem; }
  /*Main section*/
  /* index */
 
    /* home*/ 
    main .bienvenida .info_content {
      grid-column: 2 / 10;
      grid-row: 5 / 8; }
    main .bienvenida .h1-index {
      font-size: 1.2rem; }
    main .bienvenida .h3-index {
      font-size: .8rem; }
    main .bienvenida .p-index {
      font-size: .6rem; }
    main .bienvenida .btn {
      font-size: .5rem;
      padding: 5px 10px;
      border: .5px solid #A99EE4;
      border-radius: 30px;
      margin-top: 10px; }
    main .mainh .ofertas .condiciones p {
      font-size: .5rem; }
    main .mainh picture h2 {
      font-size: 1rem; }
    main .mainh picture img {
      width: 200px; }
  /*Footer section*/
  footer .footer {
    padding-bottom: 20px;
    font-size: .7rem; }
    footer .footer .contact {
      font-size: 1rem;
      align-items: auto; }
    footer .footer .social_network {
      font-size: 1rem;
      align-items: auto; } }

/*Mobiles*/
@media only screen and (max-width: 600px) {
  /*Navbar section*/
  header .navbar {
    position: relative; }
    header .navbar .logo {
      width: 30px;
      height: 30px;
      grid-column: 2 / 3; }
    header .navbar .login {
      display: none; }
    header .navbar .shopping {
      display: none; }
    header .navbar .menu-bar {
      display: block;
      grid-column: 8 / 9;
      color: #636060;
      font-size: 2rem;
      cursor: pointer; }
    header .navbar .menu {
      position: absolute;
      width: 100%;
      height: 70vh;
      display: grid;
      align-items: center;
      background-color: #DBE6CF;
      margin-top: 38em;
      transform: translateX(170%);
      transition: all 1s; }
    header .navbar .menu-toggle {
      transform: translateX(70%); }
  /*Main section*/
  main .bienvenida {
    position: relative; }
    main .bienvenida .info_content {
      grid-column: 2 / 10;
      grid-row: 5 / 8; }
    main .bienvenida .h1-index {
      font-size: .8rem; }
    main .bienvenida .h3-index {
      font-size: .6rem; }
    main .bienvenida .p-index {
      font-size: .4rem; }
    main .bienvenida .btn {
      font-size: .4rem;
      padding: 4px 8px;
      border: .3px solid #A99EE4;
      border-radius: 30px;
      margin-top: 10px; }
  /*Footer section*/
  footer .footer {
    padding-bottom: 20px;
    font-size: .5rem; }
    footer .footer .contact {
      font-size: .6rem;
      align-items: auto; }
      footer .footer .contact .h3-footer {
        font-size: .6rem; }
    footer .footer .social_network {
      font-size: .6rem;
      align-items: auto; }
      footer .footer .social_network .h3-footer {
        font-size: .6rem; } }

body {
  background-color: #E6E6E3;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  /*Index*/ }
  body h1 {
    font-family: 'Clicker Script', cursive; }
  body h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #636060;
    padding: 40px; }
  body .bienvenida {
    height: 75vw;
    background: rgba(0, 0, 0, 0.2) url(../Imagenes/fondo.jpg);
    background-blend-mode: darken;
    background-size: cover;
    max-width: 900%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    body .bienvenida .info_content {
      grid-column: 7 / 10;
      grid-row: 2 / 6;
      color: beige;
      font-family: 'Maven Pro', sans-serif; }
    body .bienvenida .h3-index {
      font-size: 1.5rem;
      font-weight: 300;
      font-family: 'Maven Pro', sans-serif;
      color: #A99EE4;
      text-shadow: 0.6px 0.6px 4px #464141;
      padding-bottom: 3px; }
      body .bienvenida .h3-index:hover {
        color: #f0ecd1;
        text-shadow: 0.6px 0.6px 4px #dbcccc; }
    body .bienvenida .h1-index {
      font-family: 'Clicker script', cursive;
      font-size: 2.5em;
      line-height: 90%;
      color: #ebe8e8;
      text-shadow: 0.5px 0.5px 4px #1f1d1d; }
    body .bienvenida .p-index {
      font-weight: bold;
      font-family: 'Maven Pro', sans-serif;
      color: #2c2727;
      text-shadow: .3px .3px 5px #DBE6CF;
      padding-bottom: 10px; }
    body .bienvenida .btn {
      font-size: .9rem;
      font-weight: bold;
      background: none;
      color: #272525;
      padding: 8px 15px;
      border: 2px solid #A99EE4;
      border-radius: 30px;
      margin-top: 10px; }
      body .bienvenida .btn:hover {
        background-color: #A99EE4;
        color: #fff;
        cursor: pointer; }
    body .bienvenida .btn {
      display: block;
      text-decoration: none;
      animation-name: animat;
      animation-iteration-count: 3;
      animation-timing-function: ease;
      animation-duration: 5s;
      animation-delay: 0.8s; }

@keyframes animat {
  0% {
    width: 9vw; }
  25% {
    width: 28vw; }
  50% {
    width: 9vw; }
  75% {
    width: 28vw; }
  100% {
    width: 9vw; } }

/*home*/
.mainh .ofertas {
  font-family: 'Maven Pro', sans-serif;
  background: #f0ecd1;
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
  margin-top: 20px;
  padding-top: 10px;
  margin-right: 150px;
  margin-left: 150px;
  border-radius: 2rem;
  border: 1px solid #E2CCE6;
  transition: all 1s; }
  .mainh .ofertas:hover {
    transform: translate(-30px, -10px);
    font-weight: bold;
    border: 4px solid #E2CCE6; }

.mainh .condiciones {
  font-family: 'Maven Pro', sans-serif;
  color: #636060;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.mainh .h2-carousel {
  font-size: 1.5rem;
  padding: 20px; }

.mainh .container-carousel {
  display: flex; }

.mainh .container {
  align-items: center;
  justify-content: center; }

picture .destacados {
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; }
  picture .destacados img {
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .9;
    border: 2px double #E2CCE6; }
  picture .destacados img:hover {
    opacity: 1;
    border: 2px double #fffdfd; }

picture .set-de-espejos {
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; }
  picture .set-de-espejos img {
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .9;
    border: 2px double #E2CCE6; }
  picture .set-de-espejos img:hover {
    opacity: 1;
    border: 2px double #fffdfd; }

/*consejos y cuidados*/
.mainc {
  padding-top: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  margin: auto; }
  .mainc h2 {
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: #636060;
    padding: 40px; }
  .mainc .contenedor {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .mainc .contenedor .consejos {
      display: grid;
      grid-template-columns: 1fr; }
      .mainc .contenedor .consejos h3 {
        font-size: 1.5rem;
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
        color: #636060;
        padding-bottom: 1rem; }
      .mainc .contenedor .consejos .consejo {
        padding: 10px; }
    .mainc .contenedor .cuidados {
      display: grid;
      grid-template-columns: 1fr;
      padding-left: 5vw; }
      .mainc .contenedor .cuidados h3 {
        font-size: 1.5rem;
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
        color: #636060;
        padding-bottom: 1rem; }
      .mainc .contenedor .cuidados .cuidados {
        padding: 10px; }
