@media only screen and (max-widht: 600px) {
    .navbar {
        position: relative ;
    }
        .shopping {
            display: none;
        }
        
        .menu-bar {
            display: block;
            grid-column: 8 / 9;
            font-size: 2rem;
            cursor: pointer;
        }

        .menu {
            position: absolute;
            width: 100%;
            height: 70vh;
            display: grid;
            align-items: center;
            background-color: $verdehf;
            margin-top: 38em;
            transform: translateX(170%);


        }

        .menu-toggle {
            transform: translateX(0%);
        }
}