header {
    .login{
        background-color: #DBE6CF;
        list-style: none;
        text-align: right;
        font-size: .8rem;
        grid-column: 6 / 9;
        display: inline-block;
        position: relative;
        cursor: pointer;
        }
        li{
            display: inline-block;
            text-align: right;
            position: relative;
            padding: 10px;
    
            }
            a{
                text-decoration: none;
                color: rgb(99, 96, 96);
                display: inline-block;
                padding: 10px;
            }
            a:hover{
                font-weight: bold;
                color: grey;
            }
        #h1-navbar {
            font-size: 3rem;
            grid-column: 4 / 8;
            display: block;
        }
}
nav {
    .navbar {
        background-color: #DBE6CF;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        }
        .logo {
            width: 60px;
            height: 60px;
            opacity: .5;
            grid-column: 1 / 2;
        }

        .menu {
            grid-column: 2 / 6;
            display: flex;
            justify-content: space-around;
            font-size: .9rem;
            color: rgb(99, 96, 96);
            cursor: pointer;
        }

            li {
                list-style: none;
                position: relative;
            }
                a {
                text-decoration: none;
                color: rgb(99, 96, 96);
                display: inline-block;
                }

                a:hover {
                font-weight: bold;
                color: #A99EE4
                }
        .shopping {
            display: block;
            grid-row: 3;
            grid-column: 8 / 9;
            cursor: pointer;
            color: rgb(99, 96, 96);
            align-items: right;
            font-size: 1.4rem;
        }
        .hr1{
            border: 0; 
            height: 12px; 
            box-shadow: inset 0 12px 12px -12px #adc990;
        }
}