header {
    .navbar {
        background-color: $verdehf;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        
        .logo {
            width: 60px;
            height: 60px;
            opacity: .5;
            grid-column: 1 / 2;
            margin-left: 40px;
        }
        #h1-navbar {
            font-size: 3rem;
            grid-column: 4 / 8;
            display: block;
        }

        .menu {
            grid-column: 2 / 6;
            display: flex;
            justify-content: space-around;
            font-size: .9rem;
            color: $griss;
            cursor: pointer;

            li {
                list-style: none;
                position: relative;
            
                a {
                text-decoration: none;
                color: $griss;
                display: inline-block;

                    &:hover {
                    font-weight: bold;
                    color: #A99EE4
                    }
                }
            }
        }
        .login {
            background-color: $verdehf;
            list-style: none;
            text-align: right;
            font-size: .8rem;
            grid-column: 6 / 9;
            display: inline-block;
            position: relative;
            cursor: pointer;
            
            li {
                display: inline-block;
                text-align: right;
                position: relative;
                padding: 10px;
                
                a {
                    text-decoration: none;
                    color: $griss;
                    display: inline-block;
                    padding: 10px;
                
                    &:hover {
                        font-weight: bold;
                        color: grey;
                    }
                }
            }
        }
        .shopping {
            display: block;
            grid-row: 3;
            grid-column: 8 / 9;
            cursor: pointer;
            color: $griss;
            align-items: right;
            font-size: 1.4rem;
        }
    }
}
 
